[2019-06-10 12:23] thomaskonrad opened #2 "Title „Improper Data Filtering“ Misleading"
I think the title „Improper Data Filtering“ is a bit misleading as it sounds a bit too much like input filtering.

How about „Excessive Object Property Exposure“?

By the way, I love the idea of this project. Great job!

[2019-06-11 08:04] JonnySchnittger commented on #2
Perhaps "improper data exposure" or "inappropriate data leakage" might be more accurate?

[2019-06-12 14:46] thomaskonrad commented on #2
I like „data“ as it is more generic than „object“. I‘d stick with „excessive“ though as „improper“ has a too wide meaning.

How about merging the two: „Excessive Data Exposure“?

[2019-06-12 14:50] JonnySchnittger commented on #2
"Excessive Data Exposure" works for me

[2019-06-14 04:51] 007divyachawla commented on #2
Could be Excessive Data Leakage or Unintended Data Leakage, because its not been done unintentionally.

[2019-06-14 04:55] xycloops123 commented on #2
Data leakage or Excessive data exposure sounds better.

On Thu, Jun 13, 2019 at 9:51 PM Divya <notifications@github.com> wrote:

--
*Thanks And Regards*
*Gaurav Mukherjee*
*CS Graduate Student at NYU*
*(347) 658-3762*

[2019-06-14 08:39] PauloASilva commented on #2
Since:

* "leak" is commonly associated with threat agents being able to subtract data from a third-party system by means of exploitation
* "Improper Data Filtering" refers to data/object properties unintentionally exposed by the development team

I'll vote for "**Excessive Data Exposure**".

[2019-06-14 09:45] thomaskonrad commented on #2
Totally with you Paulo. „Excessive“ means „more than necessary“ which is exactly what we want to say.

[2019-06-14 09:58] JonnySchnittger commented on #2
Looks like we have a winner then?

[2019-06-14 11:36] ErezYalon commented on #2
I also vote for "Excessive Data Exposure".
Let's give it a few more days in the sun for community responses before making the change.

[2019-06-14 12:58] jmanico commented on #2
What makes this different than an access control problem?

I think three top ten items that is essentially just an access control problem is...

...excessive.

--
Jim Manico
@Manicode

[2019-06-14 13:01] JonnySchnittger commented on #2
It's not just access control, if you can manipulate parameters to cause undesired behavior e.g. a database exception the application may then expose internal information such as table names, server address etc...

[2019-06-14 13:01] thomaskonrad commented on #2
It‘s quite different, because the root cause is not a missing access control, but a missing mechanism to specify which properties of an Entity (or object) should be serialized and included in the response.

In a very broad sense yes, it is a form of access control, but it does not fit an insecure direct object reference or a missing function-level access control. It is whitelisting of Entity prope

[2019-06-14 13:09] thomaskonrad commented on #2
@JonnySchnittger, not sure if we are talking about the same thing here. The vulnerability is, as far as I understand, not about provoking an exception that includes sensitive data.

It is about whether the API (1) includes sensitive fields in the response by design (such as the password of a user when getting user details via, e.g., `/api/users/{userId}`, or (2) lets the client specify which field

[2019-06-14 13:20] JonnySchnittger commented on #2
My assumption is the error is returned via the API, and should have filtered out e.g. StackTrace or Debug information removed (or not enabled in the 1st place)

[2019-06-14 13:25] PauloASilva commented on #2
You're right.
"Sensitive" isn't/shouldn't be part of category's name because it is business specific.

StackTraces and debug information are covered in [A7:2019 Security Misconfiguration][1]

[1]: https://github.com/OWASP/API-Security/blob/develop/2019/en/src/0xa7-security-misconfiguration.md

[2019-06-14 13:27] JonnySchnittger commented on #2
@PauloASilva I accept that A7 covers them, perhaps it was a bad example :)

[2019-06-16 07:54] IgorSasovets opened #3 "Extend 'Lack of Resources & Rate Limiting' section"
Hi, team! Thanks for the really great project. I would like to suggest the following changes to the "Lack of Resources & Rate Limiting" section:
- add information about improper [query string params](https://en.wikipedia.org/wiki/Query_string) validation that could lead to DDoS attack against the server. I often face with a problem of absence of query string parameters validation, especially such

[2019-06-17 09:04] pleothaud commented on #2
I also vote for "Excessive Data Exposure".

Regarding Jim Manico's statement about this item overlapping with other Access Control related items (A1 and A5), I've got the impression that the first type of "Improper Data Filtering" (Client Side Data Filtering) is definitey not an Access Control problem, but the second one (Filter Manipulation) is IMHO covered by A5 as it is a lack of Access Control

[2019-06-17 11:31] PauloASilva commented on #3
Hi @IgorSasovets,
thanks for contributing.

The query string parameter scenario is interesting and makes sense. Would you like to open a Pull Request? A quick&dirty how to:

1. Fork this repo,
2. switch to the `develop` branch
3. create a working branch,
4. add your changes to the `2019/en/src/0xa3-improper-data-filtering.md` file,
5. commit your changes,
6. push changes to your fork and
7. open t

[2019-06-17 12:06] IgorSasovets commented on #3
Hi, @PauloASilva ! Thanks for the quick response. Yes, I'll open a PR for this suggestion. Also, I will create separate issue for the NoSQL example.

Best regards,
Ihor

[2019-06-17 16:21] jmanico commented on #2
Train your Developers on Secure Coding

View this email in your browser (https://mailchi.mp/875ff264e773/manicode-security-june-2019?e=3a214cbd0c)

** Manicode Security
------------------------------------------------------------

** Secure Coding Education
June 2019 Update
------------------------------------------------------------
Secure Coding Classes
Thank you for being a customer, partner or

[2019-06-17 17:32] apiguyatpingid opened #4 "Include example and recommendation for proper schema validation in A8:2019 Injection"
Injection could cover case where validation is done but does not go far enough as well as an associated recommendation using this example below.

Scenario #
“An e-commerce API validates that a quantity input parameter in a shopping cart represented in JSON is an integer but stops short at validating that the value is not a negative value. Attacker uses this vulnerability to get zero-sum totals in

[2019-06-17 18:44] flascelles opened #5 "More relatable Security Misconfiguration scenario"
We came across a real-world example of a security misconfiguration at a customer’s API which is easy to understand and is relatable:

“A team is tasked with implementing a REST API with associated access control rules. At implementation time, the team implements a thin REST API layer on top of a legacy XML service (SOAP to REST). An attacker aware of this legacy service sends requests with content

[2019-06-17 19:03] IgorSasovets opened #6 "Add example for NoSQL injection scenario"
Hi team! In the [previous issue](https://github.com/OWASP/API-Security/issues/3) I suggested to add NoSQL injection attack scenario to the A8:2019 section.

Possible scenarios:
**Scenario 1**
We have MEAN stack application with basic CRUD functionality for operations with bookings.
Attacker managed to identify that NoSQL injection might be possible through `bookingId` query string parameter in del

[2019-06-17 19:07] IgorSasovets commented on #3
@PauloASilva , I created [issue](https://github.com/OWASP/API-Security/issues/6) for the NoSQL example. Now I'm going to open a PR for query string parameters scenario.

[2019-06-17 19:40] IgorSasovets commented on #3
Opened [PR](https://github.com/OWASP/API-Security/pull/8)

[2019-06-18 23:54] inonshk commented on #2
Thanks for your feedback.
You're right, we could call it an access control problem.
Anyhow, access control is more of an idea rather than a specific mechanism.
By reviewing hundreds of reports and input from many pentesters and security engineers, we found that access control problems are extremely common in APIs.
If the broken access control problems were less severe / less prevalent, we could pu

[2019-06-19 15:42] pentagramz opened #9 "JSON Parameter Pollution"
JSON Parameter Pollution is a common issue I find in API and not that checked upon often, which I feel can be added in the list

[2019-06-19 20:22] inonshk commented on #9
We were thinking about the option to create a special category for the following items:
- HTTP Parameter Pollution
- JSON Parameter Pollution
- Content-type Manipulation (sending an XML instead of a JSON to bypass mechanisms)

I agree these are common in APIs.
Anyway, these techniques are used only to bypass security mechanisms, rather than exploiting a specific security issue.
Layered security is

[2019-06-20 15:13] pentagramz commented on #9
JSON Parameter Pollution i did not meant bypassing waf or white list filtering. I have valid scenarios where the business logic of the app is bypassed such as accepting values for transaction amounts , selecting options not intended by user etc.

We are not bypassing anything or going to a secondary underlying condition but the behaviour of the app can be changed which the user did not intended to

[2019-06-20 15:16] pentagramz commented on #9
Let me know your views , and not necessary we are adding in Top 10 but just in case we have a guide or cheatsheet in pipeline these are scenarios we can add for developers .

[2019-06-24 09:30] PauloASilva commented on #6
Hi @IgorSasovets,
Would you like to open the PR to add the NoSQL Injection scenario to the "A8:2019 Injection" category? In my opinion, one NoSQL Injection attack scenario is enough.

A more philosophical question (I prefer to make it myself, now, then being asked later by someone else): why do you prefer `PUT` for login instead of `POST`?

Cheers,
Paulo A. Silva

[2019-06-24 10:20] PauloASilva commented on #4
Hi @apiguyatpingid,
Thanks for contributing.

I do not consider this an Injection scenario since data is not passed in an interpreter. I would classify this either as an Improper Input Validation or Business Logic Bypass.

There's no "Improper Input Validation" category in this API Security Top 10 version since it was not that frequent on collected publicly disclosed security reports or in most ca

[2019-06-24 10:38] PauloASilva opened #10 "Lack of consideration about JWT/JWE/JWS"
Based on early feedback, a lack of consideration about JWT/JWE/JWS was pointed in A2:2019 Broken Authentication.

We would like to hear from the community whether this is a general feeling and request contributions on that matter.

@philippederyck maybe you can help us here?

Cheers,
Paulo A. Silva

[2019-06-24 10:45] PauloASilva opened #11 "More about CORS misconfiguration"
Based on early feedback, a lack of consideration about CORS misconfiguration was pointed in A7:2019 Security Misconfiguration.

We would like to hear from the community whether this is a general feeling and request contributions on that matter.

We should keep in mind that we're addressing APIs in general and not on a browser-specific context.

@philippederyck maybe you can help us here?

Cheers,

[2019-06-24 18:13] IgorSasovets commented on #6
Hi, @PauloASilva !

Thanks for the response. I'll open a separate PR with an example.

Best regards,
Ihor

[2019-06-24 19:19] IgorSasovets commented on #6
[Another article](https://resources.infosecinstitute.com/http-verb-tempering-bypassing-web-authentication-and-authorization/#gref) wich is related to this issue.

[2019-06-24 22:50] inonshk commented on #9
@pentagramz
Thank you for your response and your feedback! we're really happy to receive comments from professionals in the field.

I'm really curious to see these scenarios you mentioned, please share them if you can.
The JSON Parameter Pollution attack vector is pretty similar to [HTTP Parameter Pollution](https://www.owasp.org/index.php/Testing_for_HTTP_Parameter_pollution_(OTG-INPVAL-004)),
an

[2019-06-25 10:53] emilva commented on #11
I think it should be included, as it is definitely something a lot of developers have trouble implementing securely in their API's.

[2019-06-25 11:14] emilva opened #14 "Broken Object Level Access Control Prevention"
Not sure if this has been discussed earlier, but I would consider proper integration tests as a preventive mechanism to broken access control. By writing tests for access controls you will get a guarantee that it will not happen, and you will (should) break the build and not deploy the vulnerable changes to production. This of course requires a thorough test suite, with all the "bad" cases covered

[2019-06-25 11:36] emilva opened #15 "Comments about Broken Authentication"
I think the section about broken authentication needs to be more clear, examples and suggestion follows:

The section about "is the API vulnerable?" needs to be more specific.

What does this really mean? Do we have any examples to clarify? Maybe the concept of "access token" needs to be defined in the introduction.

Needs to be more specific with regards to multiple APIs. Why is it broken if two

[2019-06-25 11:44] emilva commented on #10
+1, I think this should be included. Failing to verify JWT's is a common issue.

[2019-06-25 11:53] kozmic commented on #15
Great feedback from @emilva. I think the issues pointed are valid.

[2019-06-25 11:55] philippederyck commented on #10
I would love to help, but I am swamped with a bunch of other things right now. However, I am following the topic, and if things crystallize into concrete action items, I'll see what I can do!

One thing to clear out is whether the JWT content belongs under authN or authZ ...

[2019-06-25 11:57] philippederyck commented on #11
I would love to help, but I am swamped with a bunch of other things right now. However, I am following the topic, and if things crystallize into concrete action items, I'll see what I can do!

In my opinion, CORS belongs here whenever an API is exposed to a web frontend. Even in a mixed environment, the CORS aspect matters to secure web-based access. As @emilva points out, definitely an often misu

[2019-06-26 14:47] apiguyatpingid commented on #4
that makes sense, thanks. i will open the PR

[2019-07-04 09:58] #3 closed

[2019-07-04 10:02] #9 closed

[2019-07-04 10:11] PauloASilva commented on #6
Hi @IgorSasovets,
Thanks for sharing!

Cheers,
Paulo A. Silva

[2019-07-04 10:27] #6 closed

[2019-07-04 10:39] #4 closed

[2019-07-04 10:42] #2 closed

[2019-07-05 18:33] IgorSasovets opened #17 "Information about tools and payloads"
Hi, team! Thanks for the great project. I think it would be useful to add more information about different tools that can be used to test an application and detect security issues. For example, Arachni, ZAP, Burp Suite, .etc. One more thing that would be useful for application developers, QA engineers, security experts - links or examples of possible payloads that can be used to test an applicatio

[2019-07-08 04:17] caseysoftware commented on #10
Should this be a full blown section on "how to validate JWTs" or just a bullet point that it is mandatory?

I would lean towards the second and leave "how to" guides as external references.

[2019-07-08 05:48] philippederyck commented on #10
I agree on listing it with a couple of references. I have built an [overview cheat sheet](https://cheatsheets.pragmaticwebsecurity.com/jwt.html) about these issues, but an OWASP-style cheat sheet with more detail would be extremely useful!

[2019-07-09 15:20] PauloASilva commented on #17
Hi @IgorSasovets,
We plan to add a "How to Detect" sub-section for each Top 10 entry.
In this new sub-section, we will add recommendations about product categories like SAST, DAST, and Code Review. Since we should keep the document vendor agnostic, there's no space for such (nice) things like Burp Suite.

I think most of your suggestions are best suited to a Cheat Sheet: please [check the roadmap]

[2019-07-14 17:06] IgorSasovets commented on #17
Hi, @PauloASilva !

Thanks for the answer. Then, I think, I will wait for a Cheat Sheet release and open a PR for it.

Best regards,
Ihor

[2019-09-03 05:03] inonshk commented on #5
Thank you for sharing the example!
Content-type mismatch issues are common in APIs and an I've personally had a few chances to exploit them.
Me, Erez, Paulo and David discussed it today and we decided that even though the issue is common in APIs, it's more related to "hybrid" environments that contain legacy APIs together with modern APIs.
Our vision for the project is to address to modern issues

[2019-09-03 05:04] inonshk commented on #10
https://github.com/OWASP/API-Security/pull/18/files contains a section about JWT tokens

[2019-09-03 05:51] inonshk commented on #14
Thanks! Great idea. Added:
https://github.com/OWASP/API-Security/pull/19

[2019-09-03 05:53] inonshk commented on #15
Thanks for the feedback.
A2 was re-written and I addressed most of the points that you mentioned:
https://github.com/OWASP/API-Security/pull/18/files

[2019-09-03 12:46] #5 closed

[2019-09-03 12:46] #10 closed

[2019-09-03 12:46] #14 closed

[2019-09-03 12:46] #15 closed

[2019-09-19 16:29] PauloASilva opened #21 "How to Detect section"
We have received some comments and feedback from CISOs and other non-hands-on
managers about our, and other, top 10 guides. The main thing they are usually
missing is an action item for them, in the form of "how to detect".

In the [`feature/how-to-detect` branch][1] you'll find a new "How to Detect"
section on each Top 10 weakness.

We would like to have your comments and contributions to review

[2019-09-20 15:31] ErezYalon commented on #21
This question also came up recently when @inonshk and myself introduced the Top 10 at OWASP Global AppSec DC. This should definitely be addressed.

[2019-09-20 15:43] ErezYalon commented on #21
We need to decide if we are going to write a paragraph at the end of every Top-10 item, or create a summary of this at the end of the document.
It can also be in the form of a convenient table. Example:

|    | Code Review | DAST | IAST | WAF | SAST | Alien Technology |
|:--:|:-----------:|:----:|:----:|:---:|:----:|:----------------:|
| A1 |      X      |   X  |      |     |   X   |         X

[2019-09-21 18:12] leonelquinteros opened #22 "Translations?"
Hi, I found this resources super helpful and I would like non-english speakers to be able to benefit from this as well.

Do you have translation projects or do you accept translation PRs?
I see the sources are in `2019/en`, so I guess I could create a `2019/es` for a Spanish translation to work in.

Would that be something you'd want/like? I'm willing to make the Spanish translation, but let me kn

[2019-09-22 12:53] PauloASilva commented on #22
Hi @leonelquinteros,
I share your vision about translations.

OWASP API Security Top 10 translations are more than welcome but I suggest you
to wait for the stable release: it should be announced in OWASP Global AppSec
Amsterdam on Sept 26th.

You got it right: Spanish translation should come into the `2019/es/` directory.
We didn't receive any other request/contact for translations to Spanish, so

[2019-09-22 21:58] leonelquinteros commented on #22
@PauloASilva Sounds like a plan!

I'll look forward for updates on this issue and we'll follow up from there.

[2019-09-25 09:51] bkimminich opened #24 "Revise numbering scheme to avoid clash with OWASP Top 10"
Currently the numbering scheme is `A1:2019`, `A2:2019` etc. which is identical to the way OWASP Top 10 is doing it. Their latest entries are `A1:2017` to `A10:2017`. This could cause confusion such as people might assume that the OWASP Top 10 had a 2019 release when only seeing references to `A1:2019` etc. somewhere.

For comparison, the Docker Top 10 (https://github.com/OWASP/Docker-Security) avo

[2019-09-25 17:50] tuxnam commented on #21
Hi,

I think key point is that CISOs and other managers are not sure about differences in web app security detective/preventive controls and API ones. First thing is to highlight this, Whats applicable to both and whats not. From there, what are solutions to cover same topic on API side: dynamic code analysis is not convenient in app2app scenario. What about also insisting on 'continuous scanning/

[2019-09-26 09:48] LauraRosePorter commented on #21
Hi all,

Personally I like the idea of both the table and the how to detect section. The table could possible help non technical individuals in finding out what team can assist them where as the how to detect section would help starting engineers like myself on finding the issues. I would be happy to assit in created these sections.

[2019-09-26 10:59] PauloASilva commented on #21
Hi @LauraRosePorter

You can review the initial draft: [source][1], [PDF][2].
Go through all top 10 weaknesses and check whether there's something missing in the "How to Detect" paragraphs.

Cheers,
Paulo A. Silva

[1]: https://github.com/OWASP/API-Security/tree/feature/how-to-detect/2019/en/src
[2]: https://github.com/OWASP/API-Security/blob/feature/how-to-detect/2019/en/dist/owasp-api-security-t

[2019-09-26 11:04] PauloASilva commented on #21
Hi @tuxnam

This could be a "What's Next for CISOs and Managers" section. What do you think?
Would you like to draft it? We would love to review/accept your PR.

Cheers,
Paulo A. Silva

[2019-09-26 20:41] tuxnam commented on #21
I like the idea of 'What's next for CISOs?', can be short, giving a few
hints. Will think about it.

I have a few questions/remarks on the full document, happy to discuss these:

*Generic remark(s): *

1. A lot of scenarios/mitigations are assuming the organisation controls
the API endpoint, the back-end application (if different) and
the client.
Generally, organisation expose the APIs, client imp

[2019-10-02 11:10] ThunderSon commented on #11
CORS is focused on **browsers** to protect the users from loading trusted APIs on untrusted domains. You can't separate them, unless I am missing a point.
Looking at [0xa7](https://github.com/OWASP/API-Security/blob/develop/2019/en/src/0xa7-security-misconfiguration.md), there doesn't seem to be any link to any CORS attack scenario, nor any way on how to fix them (link to a guide to fix it). This

[2019-10-06 11:31] #24 closed

[2019-10-07 18:11] PauloASilva commented on #21
Hi @tuxnam,
Thanks for your comments.
I would like to address them but I'll need your help.

## Generic remark(s)

### 1.

Can you please point the Top 10 weaknesses where this happens?

The only assumption we should do regarding the organization is that it controls the API Server, nothing else. I agree that the "back-end application" can be other than the API Server and we should be careful about

[2019-10-08 19:45] tuxnam commented on #21
Hi,

Thanks for your detailed comments.

I'll try to go through latest develop branch again this week taking your
comments into account and see if anymore feedback.

I'll also start thinking about the whats next for CISOs part and maybe
draft something.

Guillaume (aka tuxnam)

On Mon, 7 Oct 2019, 20:11 PauloASilva, <notifications@github.com> wrote:

[2019-10-23 11:54] PauloASilva opened #27 "API2:2019 Broken Authentication renaming"
[API2:2019 Broken Authentication][1] was renamed Broken **User** Authentication.

[tuxnam's comment][2] regarding Broken Authentication made us realize that the whole section was about User Authentication and its title should reflect this fact to avoid misunderstandings.

Broken Authentication was too broad since most APIs have to handle either a) API clients authentication and b) User Authenticat

[2019-11-08 15:57] nathanawmk opened #29 "Multiple HTTP Methods (Verbs) Exposure"
Hello! I refer to Pull Request https://github.com/OWASP/API-Security/pull/28 to include 0xa10-multiple-verbs-exposure.md

There is an urgency to include this as many APIs are woefully vulnerable to this vulnerability. Please let me know when we can merge this to the master branch?

_By default, APIs do not restrict/limit the HTTP Verbs/Methods by which they can be accessed. In rare occasions, depe

[2019-11-08 17:19] PauloASilva commented on #29
Hi @nathanawmk,

I understand your point, nevertheless there's no space in the Top 10 for a dedicated category, at least in the 2019 version.

This is addressed as a security misconfiguration: please check [API7:2019 Security Misconfiguration]. May be we can add your recommendation to the "How to Prevent" section.

What do you think?

Cheers,
Paulo A. Silva

[API7:2019 Security Misconfiguration]:

[2019-11-26 04:35] nathanawmk commented on #29
Hi @PauloASilva

Sure. Yes, this needs to be added as recommendation to the "How to Prevent." Please do!

Regards,

Nathan Aw

[2019-12-17 11:06] #29 closed

[2019-12-17 11:18] #27 closed

[2019-12-17 11:49] PauloASilva commented on #11
Hi @ThunderSon,
Please check [commit 7e178bc][1] which adds several of your recommendations to API7:2019 Security Misconfiguration.

Cheers,
Paulo A. Silva

[1]: https://github.com/OWASP/API-Security/commit/7e178bc76c76873e67ac46aeca73e03a8698664d

[2019-12-17 11:49] #11 closed

[2019-12-17 12:00] ThunderSon commented on #11
Lookgs good! Thank you for the addition

[2019-12-18 22:27] ErezYalon commented on #21
After some messages we got, followed by internal discussions, it was decided not to include the **How to Detect** section in the inaugural version of the **API Security Top 10**.
Even just by mentioning detection technologies we felt that we might fall into unwanted "vendor wars" that would not be acceptable under OWASPs vendor neutrality, and might also divert the attention from the actual goal o

[2019-12-18 22:27] #21 closed

[2020-01-24 03:54] shekodn commented on #22
Any updates @leonelquinteros ? I can help with the Spanish translation :D

[2020-01-24 10:18] PauloASilva commented on #22
Hi guys,
I checked GitHub projects but I am not sure they'll help managing translation efforts. I don't think it will be possible to give external contributors permission to create new cards and manage their progress.

For now I think we can do it with one issue per translation effort, using a standardized title (e.g. "Translation es-ES", "Translation pt-PT") and the "translation" label. The issue

[2020-01-24 10:26] ErezYalon commented on #22
@PauloASilva, by "translation effort" you mean "new language"?

[2020-01-24 10:27] psiinon commented on #22
FYI for ZAP we use Crowdin: https://crowdin.com/project/owasp-zap
We have tooling that pushed our English translations to Crowdin and also pulls translations back and submits them as PRs. Probably not reusable by other projects I'm afraid as they are very ZAP specific, but just so you know its possible.

[2020-01-24 10:29] PauloASilva commented on #22
@ErezYalon Yes, plus if a translation get stalled we can replace the leader.

[2020-01-24 11:08] PauloASilva commented on #22
I've used it before for another OWASP **documentation** project (OWASP Testing Guide 4.0) but it didn't make it easier, particularly due to:

* lack of context: translating small sentences without context makes it hard to get a fluent reading.
* lack of reviewers: because each sentence needs to be reviewed to be approved the translation got stalled.

I think Crowdin may work fine for software inte

[2020-01-24 15:54] leonelquinteros commented on #22
@PauloASilva  Whenever you're ready to start, feel free to assign the Translation issue to me and I'll start working on it.

If that happens, I'll be happy to get help from @shekodn during the process, we can align our work in the corresponding issue later.

I guess we can come up with a quick translation document in the beginning and open to reviewers and corrections from there.

Should we clone

[2020-01-24 16:01] PauloASilva commented on #22
Hi @leonelquinteros,
The issue was assigned to you.

Please clone the repo and create a `translation/es-es` branch from the `master`.
Once you get the translation done, please open a PR from `translation/es-es` to our `master`.

Thank you both!
Paulo A. Silva

[2020-01-24 17:02] leonelquinteros commented on #22
@PauloASilva Awesome!

[2020-01-24 22:10] shekodn commented on #22
I agree with @PauloASilva 's proposal. How do you want us to organize @leonelquinteros? I also think we should assign each markdown to a contributor or let each contributor grab a specific document to translate.

[2020-01-24 22:14] shekodn commented on #22
@leonelquinteros let me know when you clone the repo :D

[2020-01-24 22:41] leonelquinteros commented on #22
@shekodn I've forked the repo here: https://github.com/leonelquinteros/API-Security

Adding you as a collaborator right now.

I've already started with the firsts markdowns. As this will be quick and there are only 2 of us right now, would you like to pick some markdowns and move forward from there? Just open an issue on my fork indicating which  markdowns you'll take.

[2020-01-24 22:57] shekodn commented on #22
@leonelquinteros I saw your invite,  but I cannot add issues yet. Also, where should we continue the conversation in order to distribute the tasks? I was thinking about starting to translate the following:

-[ ] 0x01-about-owasp.md
-[ ] 0x02-foreword.md
-[ ] 0x03-introduction.md
-[ ] 0x04-release-notes.md
-[ ] 0x10-api-security-risks.md
-[ ] 0x11-t10.md

[2020-01-25 16:47] leonelquinteros commented on #22
@shekodn I've enabled issues on the repo.

Go for it! I'm ok with you translating these markdown files.

[2020-01-25 18:39] shekodn commented on #22
@leonelquinteros thanks! I'll keep you posted with my updates.

Please let me know if you start with something so we can be on sync :D

[2020-03-04 09:39] PauloASilva opened #30 "Translation pt-BR"
There's an ongoing `pt-BR` translation led by @raphaelhagi:

* [Mailing list thread][1]
* [GitHub Fork][2]

[1]: https://groups.google.com/a/owasp.org/d/msg/api-security-project/dDUxhNt0_dY/JsS78FMpBAAJ
[2]: https://github.com/raphaelhagi/API-Security

[2020-03-04 13:38] PauloASilva opened #31 "Translation pt-PT"
The Portuguese (Portugal) translation is underway, led by @PauloASilva:
* [GitHub fork][1]
* [Translation branch][2]

## Guidelines

* The TOP 10 section names should remain in English.
  This will help readers to find further documentation about the issue.
* Whenever possible, hyperlinks point to OWASP contents should be updated to the new WebSite.

[1]: https://github.com/PauloASilva/API-Securit

[2020-03-05 17:20] raphaelhagi commented on #30
Currently workin on.
@PauloASilva, we need the original images for .odt file.
The first one is for cover, with the bee, to translate some words there.
The second image is that image used on header of each issue.
Is it possible? Thank you.

[2020-03-05 17:26] raphaelhagi commented on #22
How far are you guys with Spanish translation?
I think it's a good idea to have some chapters meetings on the same day to present "simultaneously" translated versions across the countries. What you think, guys? I'm working on pt-BR version.

[2020-03-05 18:15] PauloASilva commented on #30
Hi @raphaelhagi,
Nice to hear from you.

Regarding the weaknesses header, you'll be able to edit them: double-click to edit the text or right-click to Ungroup the elements.

The original cover is tracked in the repo: [check here](https://github.com/OWASP/API-Security/blob/master/2019/en/src/images/cover.jpg).
The best I can do to help you is to use my GIMP skills to remove the text so that you can

[2020-03-05 18:23] PauloASilva commented on #30
Please check whether this works:
![cover](https://user-images.githubusercontent.com/2962581/76012476-3f09a900-5f0e-11ea-9957-5bbf32823e77.jpg)

If it gets the job done I'll replace it also in the `en` version.

Cheers,
Paulo A. Silva

[2020-03-05 18:43] raphaelhagi commented on #30
Mate, this is awesome! Thanks.
I can put it on /en directory too, when I send to you via PR, it's done.
Thank you.

[2020-03-05 18:48] leonelquinteros commented on #22
I think we got like 50%
I've been slowly moving forward as I've also transitioned jobs so I'll get back to speed soon.

Any idea of the date for these meetings?

[2020-03-05 19:13] raphaelhagi commented on #22
I'm thought sometime in April.
Are you in "OWASP LATAM" Whatsapp group? I think you can get some help there to speed it up!
Do you like the idea? I like it!!! Many meetings on the same day, across the cities and countries. It will be awesome!

[2020-03-05 20:22] leonelquinteros commented on #22
Sounds good!
I'm not in that group. Any help is welcome, specially to review the translations we already have.
It would be awesome to do these meetings! I'm not an active member of the community (yet), so not sure if there are people in Argentina more involved that I can get in touch with.

[2020-03-06 09:26] PauloASilva commented on #30
@raphaelhagi I did it already and released a hotfix [v1.1.2].

Check out the new `.odt`: now you should be able to translate the cover subtitle.

Cheers,
Paulo A. Silva

[v1.1.2]: https://github.com/OWASP/API-Security/releases/tag/v1.1.2

[2020-03-12 23:39] raphaelhagi commented on #22
@leonelquinteros if you guys already have 50% translated, commit it to the forked repo!
This group that I've mentioned is for chapters leaderships. From what city of Argentina are you from?

[2020-03-12 23:42] raphaelhagi commented on #30
I think we are very close to the final version.
@PauloASilva when you work on translations, I see that you work on pt-PT translation, you also translate the issue title? I thought about it, and I tend to preserve original name.

[2020-03-13 09:09] PauloASilva commented on #30
Hi @raphaelhagi,
We did it in the last OWASP Top 10 2017 pt-PT translation, but I see your point and we can take a different direction.

Since we're the first ones working on OWASP API Security Top 10 translations we can establish the guidelines. @leonelquinteros what do you think about this?

Cheers,
Paulo A. Silva

[2020-03-13 13:40] leonelquinteros commented on #22
@raphaelhagi I'm from Buenos Aires, everything is committed to the forked repo already: https://github.com/leonelquinteros/API-Security/tree/translation/es-es

Reviews and contributions are welcome!

[2020-03-13 13:42] leonelquinteros commented on #30
@PauloASilva @raphaelhagi I'm also translating the issue title. I agree it sounds weird translated, but the idea is to provide this information to people that don't understand english.

What I would do in that case, is to have both, the translated title and the original one, somehow.

[2020-03-13 14:05] raphaelhagi commented on #30
Wow, maintain translated and the original one makes sense. I'll try it on my translation and show it to you guys.

I thought about it because even the references bellow each issue have the original name, and, if somebody needs do go further with studies, they need to know English and the original name can be helpful to research.

For me, the purpose of translation is to make it easier to comprehen

[2020-03-13 22:53] shekodn commented on #22
I'm sorry. I was off during last month, but I can keep up this weekend with the remaining topics. In the meantime I pushed _0xaa-insufficient-logging-monitoring.md_ and will start translating 0xa8 and 0xa9. @leonelquinteros

[2020-03-13 22:56] raphaelhagi commented on #22
Great! With COVID-19 I think we need to wait to launch simultaneously.

[2020-03-26 21:53] raphaelhagi commented on #30
Hello guys,
I'm ready for pull request. But I didn't found a branch for pt-BR translation.

[2020-03-26 22:08] PauloASilva commented on #30
Hi Raphael,
Please go ahead and open a PR to the master branch.

Cheers,

A quinta, 26/03/2020, 21:53, Raphael Hagi <notifications@github.com>
escreveu:

[2020-03-26 22:24] raphaelhagi commented on #30
All right, I did it.

[2020-03-27 14:49] PauloASilva commented on #30
Hi @raphaelhagi,
the pt-BR translation is now available since [v1.2.0](https://github.com/OWASP/API-Security/releases/tag/v1.2.0).

Congrats to you and all pt-BR team.

Cheers,
Paulo A. Silva

[2020-03-27 14:49] #30 closed

[2020-03-27 21:08] raphaelhagi commented on #22
Hello guys,

We proudly release a pt-BR translation. I think we can do a simultaneous launch it on-line as a webinar, due the COVID-19. You have a date expectation for finish your work?

[2020-03-30 13:48] shekodn commented on #22
@raphaelhagi When do you want to make the launch? I think that the deadline should be one week before to allow some peer-reviews

[2020-03-30 19:16] raphaelhagi commented on #22
There is not a defined date, so we can discuss it from here. I think 15 or 20 days are great.

[2020-03-30 19:42] shekodn commented on #22
@raphaelhagi what about finishing the work and leaving it ready for peer review in 8 days?

[2020-04-01 19:00] ricardosupo commented on #22
I'm willing to make the Spanish translation too.

[2020-04-01 20:48] raphaelhagi commented on #22
That's great.
@ricardosupo, can you help @leonelquinteros with the translation that he already has started?

[2020-04-01 22:12] leonelquinteros commented on #22
Hi @ricardosupo, thanks for your help! It's really needed as I find myself in a pretty busy moment now.
I've added you as a collaborator to the spanish translation repo: https://github.com/leonelquinteros/API-Security/

You can push your contributions directly to `translation/0x01/es-es` branch.

[2020-04-02 01:32] shekodn commented on #22
@leonelquinteros no worries!

@ricardosupo thanks for reaching out! I'll create tasks to start with the peer review and the missing chapters (about to commit ch.8)

[2020-04-02 02:01] shekodn commented on #22
@ricardosupo Thanks again and feel free to assign yourself any card you want. Also, I added this template in order to manage the skeleton of each _.md_ file [https://github.com/leonelquinteros/API-Security/issues/2](https://github.com/leonelquinteros/API-Security/issues/2)

[2020-04-02 02:09] shekodn commented on #22
@leonelquinteros is it `translation/0x01/es-es` or `translation/es-es`? I've pushing to the latter branch.

[2020-04-04 19:02] #31 closed

[2020-04-06 15:12] shekodn commented on #22
UPDATE:

There are still 10 cards without an assignee for the translation phase (peer-review still missing). Assuming 1 hour per card, we need 10 person-hours to finish this week. I will close at least 5 during this work week.

If we manage to close those 10 cards this week, we can focus on reviewing the translation effort in the week after and meet @raphaelhagi  's   deadline.

[2020-04-06 15:31] leonelquinteros commented on #22
@shekodn It's the latest branch, you're OK, I was just copying and pasting from the repo URL xD

[2020-04-16 15:04] shekodn commented on #22
UPDATE:

6 more to-do cards to finish translation efforts. I'm pretty sure we can finish before Monday. What do you think @leonelquinteros ?

[2020-04-16 16:35] leonelquinteros commented on #22
@shekodn I had some time yesterday to add another translation, hopefully we can have it for Monday, but I can't tell for sure as mi available time during the quarantine has been seized by my 3yo kid xD

Let's push forward to do it anyway!

[2020-04-18 00:36] shekodn commented on #22
@leonelquinteros let's go for it! I'll aim for 4 since I don't have kids ;)

[2020-04-18 01:28] raphaelhagi commented on #22
I worked hard on pt-BR translation as my wife was pregnant. Now I'm a father of a little girl, called Melissa. :-D
Hopefully we can schedule a presentation of this work on the same day, for portuguese and spanish audiences!

[2020-04-18 18:56] shekodn commented on #22
Congrats to you and your family @raphaelhagi !

We will need to review the translations. Any tip on this one? I was thinking about making a checklist with things such as making sure no links are broken and to check consistency among titles

[2020-04-18 19:03] raphaelhagi commented on #22
Thanks @leonelquinteros

@PauloASilva asks for updates on links to the new owasp website, and we did it on pt-BR version.

[2020-04-20 15:32] shekodn commented on #22
Update: 2 more cards to translate (plus proofreading and fixing minor typos). Let's do this @leonelquinteros ? Is still Monday ;)

[2020-04-20 22:02] ricardosupo commented on #22
Hi everyone, can you tell me what help you need actually? This topic email
was in spam but I can help now.

El lun., 20 abr. 2020 a las 10:32, Sergio Díaz (<notifications@github.com>)
escribió:

--
Ricardo

[2020-04-20 22:13] shekodn commented on #22
@ricardosupo Thanks again and feel free to assign yourself any card you want from https://github.com/leonelquinteros/API-Security/projects/1

We need to translate ch. 6 and peer review all the markdowns.

[2020-04-30 00:05] leonelquinteros commented on #22
Hi everyone,

I've pushed the last pending translation to the repo.
Should we send a PR and do the review on this repo? Or do you want to review on the fork?

[2020-04-30 08:14] PauloASilva commented on #22
Hi @leonelquinteros,
If you're all done with the translation and proofreading, please open the PR.

I won't be able to review the text since I don't speak Spanish.
The best I can do is:
* review Markdown formatting according to the `.editorconfig` in the repo
* check whether hyperlinks are OK
* check PDF/ODT overall look & feel

Cheers,
Paulo A. Silva

[2020-04-30 13:26] leonelquinteros commented on #22
Thanks @PauloASilva

We're done with the translation, but we're missing contributors for proofreading. I did a quick run myself, but I'd like to have some external eyes looking at it.
What do you think? Should we PR anyway?

[2020-04-30 15:08] shekodn commented on #22
Thanks a lot, @leonelquinteros ! If you want we can proofread each other's work. Maybe @ricardosupo can also help?  What bout asking in the Latam WhatsApp group?

[2020-04-30 21:18] ricardosupo commented on #22
Hi Sérgio, I can help.

Em qui, 30 de abr de 2020 às 10:08, Sergio Díaz <notifications@github.com>
escreveu:

--
Ricardo

[2020-04-30 21:25] PauloASilva commented on #22
Hi guys,
You can open the PR now and still make changes on your repo (the PR gets
updated automatically).

We can look for help also at 1) mailing list and 2) OWASP Slack. Do you
have access to these communication channels or would you like me to do it?

Cheers,
Paulo A. Silva

A quinta, 30/04/2020, 16:08, Sergio Díaz <notifications@github.com>
escreveu:

[2020-04-30 21:31] leonelquinteros commented on #22
@PauloASilva  I'll open the PR.
Please reach out to these channels as I don't have access to them.

Thanks!

[2020-05-03 14:41] PauloASilva commented on #22
Hi @leonelquinteros,
It's done (Slack and ML).

Please subscribe [the ML][0] and [follow the thread][1].

Cheers,
Paulo A. Silva

[0]: https://groups.google.com/a/owasp.org/forum/#!forum/api-security-project
[1]: https://groups.google.com/a/owasp.org/d/msg/api-security-project/Yox_urmo3Ro/_LX-YnfSBgAJ

[2020-07-18 04:28] JohnVargas commented on #22
Hi!
Can I help with translation??

[2020-08-07 09:05] datakime opened #35 "Translation fr"
Hi,

Would you like the OWASP API Security Top 10 to be translated into French? If so, I would be pleased to do it and submit a PR when the translation is ready.

[2020-08-10 11:32] PauloASilva commented on #35
Hi @datakime,
As far as we know there's no one else doing it, so you can start and lead the effort.

Someone else wanting to contribute, please comment here, so that @datakime can coordinate the work to be done.

Cheers,
Paulo A. Silva

[2020-08-10 11:35] datakime commented on #35
Hi @PauloASilva,

Ok great, I'm on it with anybody who wishes to contribute.

[2020-08-10 11:42] PauloASilva commented on #35
@datakime while we don't have official translation guidelines, please check other open/closed translation issues: you'll find there some relevant tips.

[2020-08-13 20:18] ch4rl353y opened #36 "Translation German"
Hey!

I really appreciate your efforts and think this projects should be translated into as many languages as possible.
I'd like to provide a translation into german.

Cheers,
ch4rl353y

[2020-08-14 14:01] ErezYalon commented on #36
Hi @ch4rl353y,
We agree that the project should be translated :)
Since no one else mentioned they are working on the German translation, you are more than welcome to start and lead the effort.

Thanks,
Erez

[2020-08-22 02:59] peteraritchie opened #37 "The URI in the Git project About results in 404"
In the About, the project details https://www.owasp.org/index.php/OWASP_API_Security_Project
That URI results in 404
eg:
![image](https://user-images.githubusercontent.com/408620/90947219-fa54ca00-e3e8-11ea-9d48-353995a65f8b.png)

[2020-08-24 09:11] PauloASilva commented on #37
Fixed!

[2020-08-24 09:11] #37 closed

[2020-09-19 16:00] datakime commented on #35
Hi @PauloASilva, the translation in md files is almost finished

[2020-09-28 11:49] llegaz commented on #35
Hello, I could help review the translation if you need french readers.

[2020-10-06 09:37] PauloASilva commented on #35
Hi @datakime, nice to hear that.

@llegaz I am sure @datakime and who-else is working in the FR translation will appreciate your help: please feel free to do it and commenting/suggest changes/opening pull requests whenever required.

Thanks you both for your contributions,
Paulo A. Silva

[2020-10-06 09:50] PauloASilva commented on #22
@JohnVargas I am sure your review, comments and suggestions will be more than welcome.

@leonelquinteros any progress with the ES translation?

Cheers,
Paulo A. Silva

[2020-10-28 08:08] harshakshit opened #38 "Information about Frameworks or labs"
Hello @PauloASilva

Information about labs and frameworks that can be used to demonstrate OWASP Top 10 API security will be beneficial for the community. Please let me know if I can contribute to build up such labs under OWASP organization.

Thanks

[2020-10-28 15:43] PauloASilva commented on #38
Hi @harshakshit,
There's already an ongoing effort to release crAPI - **C**ompletely **R**idiculous **API**, an intentionally vulnerable API project: maybe @inonshk or @ErezYalon can provide additional feedback about the progress or whether you can help on that.

Meanwhile you can practice API security either using [OWASP Juice Shop] or [OWASP DevSlop Pixi].

Cheers,
Paulo A. Silva

[OWASP Juice S

[2020-10-28 16:31] jmanico commented on #38
#BestProjectNameEver

How wonderful of a name. I am still laughing....

When ready let mew know I'd love to give this a whirl to see if it's a
good tool for class.

Aloha,

- Jim

On 10/28/20 5:43 AM, PauloASilva wrote:

--
Jim Manico
Manicode Security
https://www.manicode.com

[2020-10-29 06:08] harshakshit commented on #38
Hey @inonshk and @ErezYalon ,

Please let me know more about crAPI Project and How can I contribute in the same.

Thanks

[2020-10-31 19:28] ErezYalon commented on #38
@jmanico coming up with this name is the peak of my career. I'm afraid it is all downhill from here.
@harshakshit **and others** if not joined yet, please join our [mailing list](https://groups.google.com/a/owasp.org/g/api-security-project) for the near announcement of crAPI. We will appreciate help with the launch. Since it is an open platform, you can feel free to sugesst and ask questions there

[2020-10-31 19:28] #38 closed

[2021-01-02 12:04] v-zafari opened #40 "Translate to Persian"
Hello everybody,

We want to translate API-Security to Persian language.
Is there any contributions guide for this work?

[2021-01-02 12:45] PauloASilva commented on #40
Ho @v-zafari,
Translation guidelines are still missing but it should be fairly easy.

Since you're the first person requesting a Persian translation, the issue will be assign to you.
Than it up to you to manage contributors/contributions.

To start translating the OWASP API Security Top 10 2019,

1. fork this repository,
2. create a `translation/fa` branch from `master`,
3. create a `2019/fa` dire

[2021-01-06 09:21] v-zafari commented on #40
Thanks @PauloASilva
The translation work has started and will end soon.

[2021-01-06 11:04] PauloASilva commented on #40
Hi @v-zafari,
Let's keep this issue open while translation is in progress so that other guys can join you.
It would be nice to have the final document reviewed by more than one person, since we won't be able to assist you on that.

Cheers,
Paulo A. Silva

[2021-01-15 10:22] Malajab opened #41 "Translation to AR"
Hey!

I really appreciate your efforts and think this projects should be translated into as many languages as possible.
I'd like to provide a translation into Arabic .

Thanks
Malek aldossary

[2021-01-15 15:04] PauloASilva commented on #41
Hi @Malajab,
Thanks for contributing.

Since you're the first person requesting the Arabic translation, this issue will be assigned to you.
Now it's up to you to lead/manage the effort. It would be great to get the translation reviewed by others.

Cheers,
Paulo A. Silva

[2021-01-22 11:09] Malajab commented on #41
Dear @PauloASilva
Thanks for your reply and support.
Eng. @KINGSABRI he will request PR today as we agreed.
Thanks.

[2021-01-22 15:38] PauloASilva commented on #41
Hi guys,
Congratulations!

The Arabic translation was released, check out [v1.4.0](https://github.com/OWASP/API-Security/releases/tag/v1.4.0).

Would you like to provide translators' profile URL (e.g. Linkedin, Twitter, ...) so that [translations list](https://owasp.org/www-project-api-security/#div-translations) can be updated accordingly?

Cheers,
Paulo A. Silva

[2021-01-22 17:10] PauloASilva commented on #41
The website was updated accordingly.

Thank you for giving back,
Paulo A. Silva

[2021-01-22 17:10] #41 closed

[2021-06-14 15:36] datakime commented on #35
Hi @PauloASilva,

I eventually managed to finish the initial translation which I also proof-read a couple of times.

If @llegaz is still willing to review it, you can find them [in this folder of my fork](https://github.com/datakime/API-Security/tree/translation/fr-fr/2019/fr/src).

Please note that I haven't processed the distribution files yet. I will dot it once the translation will be consider

[2021-06-14 15:50] PauloASilva commented on #35
Great job!
I am eager to merge your Pull Request.

[2021-06-22 13:21] llegaz commented on #35
Hello @datakime,

First of all great work and thanks you for your translation. Secondly, I have started reviewing your work but is there a way I can add some comments and suggestions to it ? Maybe you could open a pull request here or in your personal folder ? It would be easier then to give comments on it.

Thanks

[2021-07-01 13:47] defixje opened #44 "Translate to Dutch"

[2021-07-07 09:00] PauloASilva commented on #44
Hi @defixje
I've assigned this issue to you, what makes you the official Dutch translation leader ;)

Feel free to get back to us if you need further guidance.

Cheers,
Paulo A. Silva

[2021-07-07 13:12] defixje commented on #44
Thanks!

[2021-07-09 09:35] llegaz commented on #35
@datakime I don't think so. I think it is better if you proceed as asked and propose a PR for you translation work. I don't know just take a look at the spanish PR, we are loosing time on this because of your "fork" way of doing and I will have to do twice the same work in the end...

Please, use the tool in the appropriate way, it's easier for me to work on your PR and do a review because this is

[2021-07-09 15:33] datakime commented on #35
@llegaz I will  surely do as @PauloASilva will see fit and follow his guidance to ease his work. Please note that my fork is public, open for issues and PR, so in line with what you quoted.

As mentionned above, I have not processed the distribution files yet, meaning that not everything in my fork is ready for a formal PR to the project repo, and that was on purpose to ease the work of reviewers.

[2021-07-09 18:09] PauloASilva commented on #35
Hi folks,
I really appreciate your enthusiasm and I would like to apologize: the lack of an automated build system to compile the distribution formats from the source may be creating some troubles.

@datakime if you're already comfortable with the markdown, please open the PR to the official repo: I won't accept it until the distribution formats are OK. Meanwhile @llegaz can provide feedback using

[2021-07-09 18:17] datakime commented on #35
Thanks for the prompt reply @PauloASilva. PR opened to the official repo.

[2021-07-10 10:46] llegaz commented on #35
@datakime Yes sorry for the delay, I was checking my mails daily for any news from you and got no notification.. When I came back from a family weekend I thought that it was weird and checked here and you had already replied for a long time.  ¯\_(ツ)_/¯

Anyway, I realize I have been a bit abrupt and I want to apologize.
I wasn't really wanting to push you like this, all I wanted was the PR open fo

[2021-07-10 16:47] datakime commented on #35
Thanks for the clarification @llegaz. Your concern about keeping things open for everyone is legitimate, and I respect that. Looking forward to seing your review.

[2021-07-11 16:52] llegaz commented on #35
@datakime Hi Fred,

I've started reviewing you work and will try to finish it during the incoming week. We can discuss here or there for the little changes I've proposed so far.

Take care,
Laurent

[2021-07-12 08:53] defixje commented on #44
@PauloASilva i translated all the MD files, what is the way to go for the ODT and PDF ?

[2021-07-12 10:51] PauloASilva commented on #44
Unfortunately, rendering the Markdown and Copy&Paste to a text processing
software such as LibreOffice. Then, export to PDF.

On Mon, Jul 12, 2021, 9:53 AM E Dirks ***@***.***> wrote:

[2021-08-30 10:22] ghookas commented on #40
May I join to this project ?
I translated it to Persian.

[2021-08-30 10:46] PauloASilva commented on #40
@v-zafari can you please introduce @ghookas to the translation work in progress: may be together you can finish it earlier!

Cheers,
Paulo A. Silva

[2021-09-11 21:35] ghookas commented on #40
@PauloASilva what can I do now?

[2021-09-12 15:45] ErezYalon commented on #40
Let's give @v-zafari a few more days to respond.
@ghookas, if we get nothing by the end of the week, you can go ahead according to [these insctructions](https://github.com/OWASP/API-Security/issues/40#issuecomment-753469579) given previously by @PauloASilva.

[2021-09-20 08:52] ghookas commented on #40
I started and I will announce the result soon

[2021-09-20 10:16] PauloASilva commented on #40
@ghookas you now own the Persian translation issue.

I've tried to reach out to @v-zafari here and by email without success.
Unfortunately I wasn't able to find public evidence of any progress on @v-zafari's fork.

Thanks for your interest and good luck.
Paulo A. Silva

[2021-12-17 07:22] donge opened #46 "Translation Chinese"
Hi Team,

Glad to see this project, I am an engineer in this area, I could contribute to the Chinese version.

[2021-12-17 15:14] ErezYalon commented on #46
Hi @donge, your translation is most welcome.
Feel free to go ahead and create a `translation/ch` branch from `master`.
If you need some guidelines, take a quick look at this translation issue: #40

[2021-12-28 12:04] PauloASilva commented on #35
Hi Folks,
The French translation was merged and released ([v1.6.0]): I've done a small fix in the ODT/PDF regarding risk tables' headers.
The translation was added to the [Translations List]: please let me know if you want to change your name and/or profile page.

Congratulations for the final result and thanks for giving back!

Cheers,
Paulo A. Silva

[v1.6.0]: https://github.com/OWASP/API-Securi

[2021-12-28 12:04] #35 closed

[2022-02-08 06:50] sergiomarotco opened #49 "bug fix"
https://github.com/OWASP/API-Security/pull/48

[2022-03-16 16:16] sergiomarotco commented on #49
new https://github.com/OWASP/API-Security/pull/52

[2022-03-29 13:22] This-is-Neo commented on #40
@PauloASilva
Hi Paulo
Since more than 6 months are passed and none of the previous efforts in translating this useful methodology to Farsi appear to be successful (or at least we were not able to find any public evidence about that), Me and my team at rnpg.ir are willing to contribute in translating it to Persian and we will prepare the final version in 3 weeks. Do we have your "go" on this?

[2022-03-29 14:42] PauloASilva commented on #40
Hi @This-is-Neo,
We are open to contributions and I will love to review and approve such a PR.

@ghookas do you want to share the progress you've done so far?

Cheers,
Paulo A. Silva

[2022-03-30 10:08] ghookas commented on #40
Hi @PauloASilva
yes, I am ready to share it.

[2022-03-30 12:12] PauloASilva commented on #40
Cool!
@This-is-Neo do you want to take this from here with @ghookas ?

Cheers,
Paulo A. Silva

[2022-04-03 05:30] This-is-Neo commented on #40
@PauloASilva
We are ready to collaborate by assessment and audit of the current state of the work done by @ghookas.

[2022-04-04 08:18] PauloASilva commented on #40
@This-is-Neo please go ahead.
Unfortunately, I can't help you that much with the translation, but I'll keep watching this issue in order to provide you any further help/guidance you may need.

Cheers,
Paulo A. Silva

[2022-04-04 15:16] ghookas commented on #40
@This-is-Neo you can pull this my branch

https://github.com/ghookas/API-Security/tree/translation/fa/2019/fa

[2022-04-04 15:17] ghookas commented on #40
@PauloASilva
i can help them

[2022-04-06 18:27] ghookas commented on #40
@This-is-Neo
Thanks for your reply.
I don't have enough time to complete it.
I hope you and your team will do it in the perfect way.

Best Regards
Razmik

[2022-04-07 06:07] This-is-Neo commented on #40
@ghookas Thanks for your contribution to the project, I wish you luck.

@PauloASilva Dear Paulo, considering the current state of the project, do you mind assigning the issue to me?

Regards
Reza

[2022-04-07 08:18] PauloASilva commented on #40
Hi Folks,
I want to thank you both for the interest and energy put on this project.

@ghookas thank you very much for starting it: sometimes that is the most difficult decision.
@This-is-Neo the issue was assigned to you: this is your turn.

Best,
Paulo A. Silva

[2022-04-27 09:56] #49 closed

[2022-05-30 12:16] This-is-Neo commented on #40
@PauloASilva @ErezYalon Hi
I'm glad to announce that Persian Translation is done.

[2022-06-02 07:41] PauloASilva commented on #40
@This-is-Neo great news: congrats!

@ghookas would you like to help us reviewing/proof-reading the translation?

[2022-06-03 18:44] ghookas commented on #40
@PauloASilva
Yes, sure thanks for asking.

[2022-06-14 05:28] This-is-Neo commented on #40
@ghookas We would be glad to have your opinion on the work, as soon as possible. Thanks.

[2022-07-19 09:29] This-is-Neo commented on #40
@PauloASilva Hi
MD files are ready and suggested changes were applied.
I would be glad if you approve the pull request. thanks.
Regards
Reza

[2022-07-19 09:48] ghookas commented on #40
Yes of course .

[2022-07-24 11:22] This-is-Neo commented on #40
@PauloASilva
@ErezYalon
Dear Paulo and Erez! I would be glad if you could proceed with approving the pull request or inform us about possible changes that need to be applied on the work.
Thanks :)

[2022-07-24 11:24] This-is-Neo commented on #40
@ghookas Please inform us about your opinion on the translation in 3 days, it's been more than two months that we provided the pdf of Farsi version of OWASP Top10 API and we need to conclude the work.
Thanks

[2022-07-24 11:28] PauloASilva commented on #40
Hi,
I'll do my best to review latest changes as soon as possible and merge it.

Cheers,

On Sun, Jul 24, 2022, 12:22 PM Mohammad Reza Ismaeli Taba <
***@***.***> wrote:

[2022-07-24 12:04] ghookas commented on #40
Hello Reza
I am going to review it and i will inform you soon.
Thanks

[2022-07-26 05:01] ghookas commented on #40
@PauloASilva
@This-is-Neo

Hello All,
Thank you for giving me the chance to contribute to this project.
I congratulate you for completing this project and I must report that the translation of this document is very precise and technical and has a clear text.
Definitely, this document can be practical and useful for security and software development teams.

Thank You
Razmik

[2022-07-29 13:43] PauloASilva commented on #40
Thank you all for giving back!

Cheers,
Paulo A. Silva

[2022-07-29 13:43] #40 closed

[2022-07-30 08:14] This-is-Neo commented on #40
Dear @ghookas Thanks for your time and comments. Wish you best!

[2022-08-04 00:29] oz9un opened #58 "Turkish Translation"
Hey!

First of all thanks for this outstanding repository about API security.
I would be happy to contribute to the translation of this repository into **Turkish**.

![htp](https://i.giphy.com/media/FnGJfc18tDDHy/giphy.webp)

[2022-08-17 10:30] PauloASilva commented on #58
Hi @oz9un,
Please do your magic!

I'm assigning this issue to you so that you can lead the effort in case someone wants to join you.

Cheers,
Paulo A. Silva